<main>
  <mat-toolbar color="primary">
    <h1>{{ title }}</h1>
  </mat-toolbar>
  <mat-form-field appearance="outline" *ngIf="countries.length > 0">
    <mat-label>Search for country</mat-label>
    <input matInput (keyup)="onCountryChange($event)" />
  </mat-form-field>
  <div class="cards" *ngIf="countries.length > 0">
    <app-card
      *ngFor="let country of modifiedCountries"
      name="{{ country.Country }}"
      code="{{ country.CountryCode }}"
      totalConfirmed="{{ country.TotalConfirmed }}"
      totalDeaths="{{ country.TotalDeaths }}"
      totalRecovered="{{ country.TotalRecovered }}"
    ></app-card>
  </div>
  <mat-spinner *ngIf="countries.length <= 0"></mat-spinner>
</main>
